# Simple workflow for deploying static content to GitHub Pages
# Derived from https://github.com/actions/starter-workflows/blob/main/pages/static.yml
name: Deploy generated documentation content to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: [$default-branch]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11' 

      - name: Install Python Dependencies
        run: python3 -m pip install pydantic pyyaml

      - name: Setup JVM
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '18'

      - name: Setup Scala for Kaitai Compilation
        uses: olafurpg/setup-scala@v11

      - name: Clone new Kaitai version
        uses: actions/checkout@v4
        with:
          repository: 'Vitineth/kaitai_struct_compiler'
          ref: 'vitineth/patches'
          path: 'vitineth_kaitai'

      - name: Compile Kaitai
        run: |
          cd vitineth_kaitai
          sbt compile compilerJVM/stage compilerJVM/universal:packageBin

      - name: Run builder
        run: python3 .github/pages.py
        env:
          KSC_EXECUTABLE: "$GITHUB_WORKSPACE/vitineth_kaitai/jvm/target/universal/stage/bin/kaitai-struct-compiler"

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: 'build/'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
